<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <billy translate="label" module="billysbilling">
            <label>Billy's Billing</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>400</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api translate="label">
                    <label>API Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <api_key translate="label">
                            <label>API key</label>
                            <frontend_type>text</frontend_type>
                            <comment>Create or get your API key in Billy's web interface under (Danish) Indstillinger -> Organisationsindstillinger -> API. You have to enter API key and Save Config before you can choose shipping product, sales account and VAT model below.</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_key>
                    </fields>
                </api>
                <invoicer translate="label">
                    <label>Invoice Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <shipping_account translate="label">
                            <label>Shipping Product</label>
                            <frontend_type>select</frontend_type>
                            <source_model>BillysBilling_Invoicer_Model_Products</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </shipping_account>
                        <sales_account translate="label">
                            <label>Sales Account</label>
                            <frontend_type>select</frontend_type>
                            <source_model>BillysBilling_Invoicer_Model_Accounts</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sales_account>
                        <vat_model translate="label">
                            <label>VAT Model</label>
                            <frontend_type>select</frontend_type>
                            <source_model>BillysBilling_Invoicer_Model_VatModels</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </vat_model>
                        <bank_account translate="label">
                            <label>Bank Account</label>
                            <frontend_type>select</frontend_type>
                            <source_model>BillysBilling_Invoicer_Model_Accounts</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </bank_account>
                        <disable_payments translate="label">
                            <label>Disable payments</label>
                            <comment>If this option is set to Yes, this module will NOT automatically add payments to invoices.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>BillysBilling_Invoicer_Model_YesNo</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </disable_payments>
                        <due_date_offset translate="label">
                            <label>Due date offset</label>
                            <comment>This will offset the due date of the invoices by the number of days specified.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-zero-or-greater</validate>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </due_date_offset>
                        <contact_message translate="label">
                            <label>Contact message</label>
                            <comment>Contact message to accompany the created invoice. Insert {order_id} for inserting the Order ID (e.g. "Order ID #{order_id}" for "Order ID #123456").</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </contact_message>
                    </fields>
                </invoicer>
            </groups>
        </billy>
    </sections>
</config>