<?php
define("TEST_URL", ""); // URL for test site (without trailing slash)

define("TEST_CURRENCY", ""); // Test order's currency (should be shop default currency)
define("TEST_SHIPPING_PRICE", 0); // Test order's shipping price

define("TEST_PRODUCT_ID", 0); // Test product's ID
define("TEST_PRODUCT_NAME", ""); // Test product's name
define("TEST_PRODUCT_SUPPLIER_ID", ""); // Test product's supplier number
define("TEST_PRODUCT_PRICE", 0); // Test product's price

define("TEST_CUSTOMER_FIRST_NAME", ""); // Test customer's first name
define("TEST_CUSTOMER_LAST_NAME", ""); // Test customer's last name
define("TEST_CUSTOMER_STREET", ""); // Test customer's street and number
define("TEST_CUSTOMER_CITY", ""); // Test customer's city
define("TEST_CUSTOMER_POSTCODE", ""); // Test customer's post code
define("TEST_CUSTOMER_TELEPHONE", ""); // Test customer's phone number
define("TEST_CUSTOMER_EMAIL", ""); // Test customer's email address
define("TEST_CUSTOMER_COUNTRY_ID", ""); // Test customer's country ID (e.g. DK or US)