<?php
$testConfig = array(
    "currency" => "DKK", // Test order's currency (should be shop default currency)
    "discounts" => array(
        "cash" => array( // Cash discount
            "code" => "", // Discount code
            "amount" => 0 // Amount on the discount code
        ),
        "percentage" => array( // Percentage discount
            "code" => "", // Discount code
            "amount" => 0 // Amount on the discount code
        ),
        "free_shipping" => array( // Free shipping discount
            "code" => "" // Discount code
        ),
        "cart_cash" => array( // Cart cash discount
            "code" => "", // Discount code
            "amount" => 0 // Amount on the discount code
        )
    ),
    "products" => array( // Add at least two products here
        array(
            "id" => 0, // Test product's ID
            "name" => "", // Test product's name
            "supplier_id" => "", // Test product's supplier number
            "price" => 0, // Test product's price
            "shipping_price" => 0 // Test product's shipping price
        )
    ),
    "addresses" => array( // Add at least two addresses here
        array(
            "firstname" => "", // Test customer's first name
            "lastname" => "", // Test customer's last name
            "street" => "", // Test customer's street and number
            "city" => "", // Test customer's city
            "postcode" => "", // Test customer's post code
            "telephone" => "", // Test customer's phone number
            "email" => "", // Test customer's email address
            "country_id" => "" // Test customer's country ID (e.g. DK or US)
        )
    )
);
