<config>
    <modules>
        <BillysBilling_Invoicer>
            <version>0.1.0</version>
        </BillysBilling_Invoicer>
    </modules>
    <global>
        <events>
            <sales_order_save_after>
                <observers>
                    <billysbilling_invoicer_automatically_complete_order>
                        <class>BillysBilling_Invoicer_Model_Observer</class>
                        <method>automaticallyInvoiceShipCompleteOrder</method>
                    </billysbilling_invoicer_automatically_complete_order>
                </observers>
            </sales_order_save_after>
            <sales_model_service_quote_submit_success>
                <observers>
                    <billysbilling_save_invoice_on_success>
                        <class>BillysBilling_Invoicer_Model_Observer</class>
                        <method>saveInvoiceOnSuccess</method>
                    </billysbilling_save_invoice_on_success>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </global>
</config>